body{
    background: #e3d6d6;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body.index{
    background: url('../img/bg-2.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.index-banner{
    padding: 0px 30px 70px 30px;
    background: url('../img/bg-2.jpg') no-repeat center center fixed;
    background-size: cover;

}
.container{
    padding: 30px;
    padding-top: 0px;
}
.index-page-content{
    align-content: center;  
}
.navbar ul{
    float: right;
    list-style: none;
   
}
.navbar ul li {
    display: inline;
    margin: 20px;
   
    color: #333;
}
.navbar ul li a {
    text-decoration: none;
    font-weight: 600;
}
.navbar ul li a:hover, .navbar ul li a:focus{
    text-decoration: underline;
} 

a.navbar-brand{
    color:#9d0e3d;
    text-decoration: none;
    font-weight: 700;
}

.checkout-div {
    width: 900px;   
    top: 30%;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

.login-div, .register-div {
    width: 400px;
    top: 50%;
}


.login-div, .register-div {
    text-align: center;
    background: white;  
    padding:20px;  
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-div h2, .register-div h2, .checkout-div h2 { 
    margin-top: 0px;
}   

.login-div img, .register-div img { 
    height: 50px;
    width: 100px;
    justify-content: center
}
.alternative-login{
    text-align: center; 
}

.available-meal{
    background: #ddd;
    padding: 20px 20px;
    margin-top: 20px; 
    
}
.available-meal h1{
    text-align: center;
}
button.google-login{
    background: #961919;
    text-align:center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 15px;
}

.register-link{
    font-size: 16px;
}
   
.index-info-text{
    line-height:2;
    font-size: 17px;
}
.index-info-content{
    padding: 50px;
}
.index-info-content h1{
    font-size: 50px;
    margin-bottom:10px; 
}
.index-page-content{
padding-top: 100px;
    
}
.index-hint{
    font-size: 25px;
    margin-bottom: 20px;
}
.index-info {
    background:#ff654d; 
    padding: 10px;
    color: #fff;
    width: 97%;
}

button.index-login { 
    padding: 10px;
    border: 2px solid #fff;
    color: #9c2828;
    text-decoration: none;
}
.index-info img{
    /* height: 55px;
    width: 48px; */
    height: 160px;
    margin: 0px;
}
.index-info-heading{
    font-weight: 100;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 0px;
}

.bg-light{
    background: #ffffff;
    padding: 10px;
}

.text-justify{
    line-height: 1.2;
}

input[type=text], input[type=email], input[type=password]{
    border-bottom: 1px solid #e3d6d6;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    width: 94%;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 18px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 1.9 ease-in-out;
    border-bottom: 2px solid #ff654d;
}
.title-text{
    margin-top: -60px;
    padding: 0;
}
.btn{
    width: 100%;
    border-radius: 0px;
    padding: 20px;
}
.btn-toggle{
    padding: 50px;
}
.btn-delete, .btn-edit{
    width: 80%;
    padding: 10px;
    color: #fff;
    background: #1f3796;
    border-radius: 5px;

}
.btn-delete{
    background: #cf3e3e;   
}

.btn-login{
    width: 100%;
    padding: 20px;
    background: none;
    color: #ff654d ;
    font-weight: 600;
    padding: 10px;
    border: 2px solid #ff654d ;
    border-radius: 0px;
    
}
.btn-login:hover{
    background: #ff654d ;
    color: #ffffff;
    border: 2px solid #ff654d ;
    transition: 0.6s ease-out;
    line-height: unset;
    
}

#btn-registerDisplay{
    color: #1f3796;
    cursor: pointer;
}
#btn-registerDisplay:hover {
    text-decoration: underline;
    
}
.register-div{
    display: none;
}
.card{
    border: none;
    padding: 40px;
    border-radius: 0px;
    
}

.navbar img{
    width: 35px;
    height: 35px;
}


/* SideBar */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0px;
    height: 100vh;
    overflow-y: hidden;
    background: #9d0e3d;
    opacity: 0.9;
}

/* Main Content */
#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

/* SideBar Display */
#wrapper.displaySideBar #sidebar-wrapper{
    -webkit-animation: slide 0.5s forwards;
    /* -webkit-animation-delay: s; */
    animation: slide 0.5s forwards;
    /* animation-delay: 2s; */
}
@-webkit-keyframes slide {
    100% { 
        width: 200px;
        box-shadow: 35px 1px 30px #888888;
    
    }
}

@keyframes slide {
    100% { 
        width: 200px;
        box-shadow: 35px 1px 30px #888888;
     }
}
#wrapper.displaySideBar #page-content-wrapper{
    padding-left: 250px;  
}

/* Sidebar styling */
.sidebar-nav{
    padding: 0;
    list-style-type: none;
}
.sidebar-nav li{
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}
.sidebar-nav li i{
    padding-right: 15px;
    
}
.sidebar-nav li a{
    text-decoration: none;
    font-weight: 200;
    display: block;
    color: #ddd;
}
.sidebar-nav li a:hover{
    transition: 0.2s ease-in-out;
    font-weight: 800;
    font-size: 18px;
}
.btn-toggle{
    width: 30px;
}
.user-profile{
    color: #e3d6d6;
    font-size: 100px;
    text-align: center;
    border-bottom: 1px solid #888888;
}

div.food-menu-grid{
    height: 150px;
    background-size: cover;
    margin: 15px;
    /* z-index: -30; */
    border-radius: 5px;
    box-shadow: 10px 1px 30px #888888;
}
.category{
    padding-top: 10px; 
    font-size: 25px;
    background: #fff;
    opacity: 0.8;
    font-weight: 400;
}

.food-menu-grid{
    animation: fadein 1.1s;   
}
@keyframes fadein{
    from {opacity: 0}
    to {
        opacity: 1;
            
    }
}
.food-menu-grid:hover {
    -ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg); 
    transition: 0.6s;
}
.img-div{
   background :#333;
   opacity : 0;
   width : 100%;
   height : 100%;
   display :block;
   text-align: center;
   padding-bottom: 3px;
}
.img-div img{
    z-index: 1;
}
.img-div:hover{
    opacity: 0.6;
    transition: 0.6s ease-in-out;
}
.admin-categories {
    margin-right: 20px;
    padding: 0;
    background: #fff;
}
.admin-categories-setup{
    background: #fff;
    padding: 0;
    margin: 0;
}
.header-categories {
    padding: 1px 10px;
    background:#9d0e3d;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header-categories-setup{
    padding: 20px;
    margin-top: 0;
    background: #2c1724;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.header-categories-setup li.active{
    color: #fff ;
}
.header-categories-setup li{
    color: #888888;
    display: inline-block;
    list-style-type: none;
    font-weight: 600;
    text-decoration: none;
}
.header-categories-setup li.active{
    color: rgb(250, 245, 245);
    font-weight: 600;
    text-decoration: none;
}
table.categories-dashboard{
    width: 100%;
    padding: 0px 10px;
    text-align: center;
}
.table-order-details{
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    text-align: center;
}
#order-details{
    width:70%;
}
.category-item{
    height: 50px;
    border-bottom: 1px solid #333;
}
.category-item:hover {
    border-left: 5px solid #333;
    box-shadow: 10px 1px 30px #888888;
    transition: 0.2s ease-in-out;
}
.category-item:focus{
    border-left: 3px solid #333;
    box-shadow: 10px 1px 30px #888888;
    transition: 0.2s ease-in-out;
}
.meal-item{
    /* padding: 20px 0px 0px 0px; */
    margin: 25px;
    border-radius: 5px;
    box-shadow: 10px 1px 30px #888888;
}
.meal-item:hover, .meal-modal-item:hover {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); 
    transition: 0.6s;
}
.meal-modal-item{
    margin: 20px;
    border-radius: 5px;
    box-shadow: 10px 1px 30px #888888;
}
.meal-item img, .meal-modal-item img{
    height: 180px;
    margin: 0;
    width: 100%;
}
.meal-modal-item h4, .meal-modal-item h5, .meal-modal-item h6,
 .meal-item h4, .meal-item h5, .meal-item h6{
    padding: 0 10px;
    margin: 10px 0px;
}

.meal-modal-item a:hover, .meal-item a:hover, .meal-details button:hover,
 .meal-modal-item .buttonOrder:hover , .meal-item .buttonOrder:hover, .meal-details .buttonOrder:hover{
    background:#ff654d ;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.meal-modal-item .buttonOrder, .meal-item .buttonOrder, .meal-details .buttonOrder {
    width: inherit;
    text-align: center;
    padding: 12px;
    margin: 0;
    background:#fff;
    color: #ff654d ;
    font-size: 18px;
    font-weight: 800;
    border: 2px solid #ff654d ;
}

.meal-modal-item a, .meal-details a, .meal-item a { 
    width: inherit;
    text-decoration: none;
}

.meal-modal-item .meal-title, .meal-item .meal-title {
    font-weight: 300;
}
#cancel-modal{
    font-size: 25px;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
    color: #333333;   
}
#modal-header{
    font-size: 25px;
    margin: 0;
    padding: 0;
}
ul.admin-balance {
    float: right;
    list-style: none;
}
ul.admin-balance li {
    display: inline;
    margin: 20px;
    padding: 10px;
    color:#9c651c;
    border: 2px solid #9c651c;
}


/* Modal for login notification */

.modal-container {
    position: fixed;
    background-color: #fff;
    left: 50%;
    top: 10%;
    width: 70%;
    padding: 20px;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 5px 0px 0px 5px;

    border-right: 10px solid #ff654d ;
    max-width: 800px;
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);  
    transition: transform 200ms ease-out;
    -webkit-transition: transform 200ms ease-out;
    -ms-transition: transform 200ms ease-out;

}

.modal::before {
    content: "";
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal:target::before{
    display: block;
}

.modal:target .modal-container {
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);    
}

.modal-container .meal-img {
    -webkit-flex: 4;
    -moz-flex: 4;
     -ms-flex: 4;
         flex: 4; 
}

.modal-container .meal-img img{
    width: 80%;
    height: 300px;
}
.modal-container .meal-details h3{
    font-size: 23px;
    margin: 10px 0;
    font-weight: 400;
    text-transform: uppercase;
}


.modal-container .meal-details {
    -webkit-flex: 3;
    -moz-flex: 3;
     -ms-flex: 3;
         flex: 3; 
         display: block;
         line-height: 1.5;
}

.meal-details label {
    font-size: 15px;

}

.meal-details a {
    align-content: right;
}

input[type=number]{
    border-bottom: 1px solid #e3d6d6;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    width: 94%;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 18px;
}
input[type=number]:focus{
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 1.9 ease-in-out;
    border-bottom: 2px solid #ff654d;
}


